body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: #fb5404;
  font-size: 350%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #868482de;
}

.painelvideoDiv {
  background-color: rgba(206, 204, 204, 0.966);
  padding: 200px;
  margin: 25px auto;
}

.text-apre {
  background-color: #fff;
  width: 50%;
  justify-content: center;
  margin: auto 50px;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}
.imagemapresDiv {
  display: inline-block;
  float: right;
}
.apresent2Div {
  width: 80%;
  padding: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 110%;
}

.cxnegocios {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.cxgovernanca {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.cxpessoas {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.negociosDiv {
  padding: 10px;
  margin: 30px;
}
.governancaDiv {
  padding: 10px;
  margin: 100px auto;
}
.pessoasDiv {
  padding: 10px;
  margin: 100px auto;
}

.imgslide {
  background-color: #b9b9;
  padding: 150px;
}
.rodape {
  display: inline-block;
  margin: auto;
  padding: auto;
  color: #929496;
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
}

.rodape2 {
  text-align: center;
}
.qmsomos {
  padding: 10px;
  margin: 40px 20px;
  text-align: center;
}

.pagprof {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px;
  font-size: 20px;
  color: #605e5e;
  font-weight: bold;
}

.slogan {
  padding: 20px;
  margin: 60px;
  text-align: center;
}
.cx-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
input,
select,
textarea {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}
.cursor {
  cursor: pointer;
}
.red {
  color: red;
}
.cx-margin {
  margin-right: 200px;
}
.cx-margin2 {
  margin-right: 220px;
}
.conteiner {
  background-color: #444444;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
.flex {
  display: flex;
  gap: 20px;
  margin: 40px;
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.boldwhite {
  color: #fff;
  font-weight: bold;
}
.cx-logo {
  text-align: center;
}
.center {
  justify-content: center;
}
