body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: #fb5404;
  font-size: 350%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #868482de;
}

.painellogoDiv {
  padding: 70px;
  height: 10px;
  display: inline-block;
}
.logo {
  padding: 5px;
  margin: 20px;
  display: inline-block;
}
.menuDiv {
  text-decoration: none;
  padding: auto;
  margin: 10px auto;
  display: inline-block;
}
.menulink {
  padding: 10px;
  margin: 20px 20px;
  display: inline-block;
}
.menuband {
  margin: auto;
  padding: auto;
  display: inline-block;
}

.painelvideoDiv {
  background-color: rgba(206, 204, 204, 0.966);
  padding: 200px;
  margin: 25px auto;
}

.apresentDiv {
  background-color: #fff;
  width: 50%;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-size: 110%;
}
.imagemapresDiv {
  display: inline-block;
  float: right;
}
.apresent2Div {
  background-color: #fff;
  width: 80%;
  padding: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 110%;
}

.cxnegocios {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.cxgovernanca {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.cxpessoas {
  max-width: 100%;
  display: inline-block;
  margin: 10px;
}
.negociosDiv {
  padding: 10px;
  margin: 30px;
}
.governancaDiv {
  padding: 10px;
  margin: 100px auto;
}
.pessoasDiv {
  padding: 10px;
  margin: 100px auto;
}

.imgslide {
  background-color: #b9b9;
  padding: 150px;
}
.rodape {
  display: inline-block;
  margin: auto;
  padding: auto;
  color: #929496;
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
}

.rodape2 {
  text-align: center;
}
.qmsomos {
  padding: 10px;
  margin: 40px 20px;
  text-align: center;
}

.pagprof {
  display: inline-block;
  margin: 10px;
  font-sizoe: 35px;
  color: #605e5e;
  font-weight: bold;
}

.slogan {
  background-color: #cdcfd19f;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
